@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import "../../../Resources/css/reset.scss";
$black: #2B2B2B;
$offWhite: #FBF9F3;
$offWhite2: #E7E6E0;
html {
    background-color: $offWhite;
}

* {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

.hover {
    border-radius: 8px;
    transition: 0.08s ease-in-out;
    @media not all and (hover: none) {
        &:hover {
            background-color: $offWhite2;
        }
    }
}