.wordMark {
    cursor: pointer;
    transition: 0.25s;
    .cls-1 {
        fill: $themeGray;
        font-size: 34px;
        font-family: IBMPlexSans-Bold, IBM Plex Sans;
        font-weight: 700;
    }
    .cls-2,
    .cls-3,
    .cls-4,
    .cls-5 {
        fill: $themeGray;
    }
    &:hover {
        transition: 0.25s;
        .cls-2 {
            fill: #ac57bc;
        }
        .cls-3 {
            fill: #95b9e3;
        }
        .cls-4 {
            fill: #f7cc6c;
        }
        .cls-5 {
            fill: #fe6f6f;
        }
    }
}

.bentoContainer {
    .bento {
        .cls-1 {
            fill: #1a1a1a
        }
    }
}

.loveIcon {
    .cls-1 {
        fill: #adadad;
    }
}

.xIcon {
    .cls-1 {
        fill: #adadad;
    }
}